

<section class="profile-page">
   <div class="profile-container" >
    <div class="flex-profile-container">
    <div class="profile-img-container">
        <img src="/assets/images/user-avatar.jpg" width="80px" alt="avatar-image">
    </div>
    <div class="profile-sub-container">
        <div class="profile-info">
            <p>Name: <span class="profile-bold"> {{currentUser.firstName}} {{currentUser.lastName}}</span ></p>
        </div>
        <div class="profile-info">
            <p>Email: <span class="profile-bold"> {{currentUser.email}}</span ></p>
        </div>
        <div class="profile-info user-items">
            <p><button class="btn" (click)="onForSale()">Items for sale >></button> </p>
        </div>
        <ng-container *ngIf="hasItems">
            <div class="items-for-sale" *ngFor="let item of currentUserItems">
                <div ><a class="item-for-sale-link" [routerLink]="['/catalog', item.id]">{{item.title}} >></a></div>
            </div>
            </ng-container>
            <ng-container *ngIf="!hasItems"><p class="no-items">No items published yet...</p></ng-container>

    </div>
</div>
    
       

           
    </div>

</section>
