.ng-touched .ng-invalid {
    border-left: 2px solid red;
}


.login-container {
    padding: 24px;
    
    border: 2px solid var(--clr-purple);
    color: var(--clr-dark);
    width: 300px;
    margin: 24px auto;
    border-radius: 4px;

   
}
.input-container {
    display: flex;
    flex-direction: column;
    
}
input {
    background-color: transparent;
    margin-bottom: 12px;
    border: none;
    border-bottom: 1px solid var(--clr-dark);
    padding: 12px 12px 12px 18px;
}
input:-webkit-autofill { 
    -webkit-background-clip: text;
}
.loginLink {
   
    color: var(--clr-purple);
    font-size: 14px;
    font-weight: bold;
    margin-left: 16px;
}
.loginLink:hover {
    text-decoration: underline;
}

.loginBtn {
    width: 100%;
    border: 2px solid var(--clr-purple);
        background-color: var(--clr-purple);
        color: #f5e0a1;
}

.input-error {
    border-left: 2px solid red;
}
.error {
    color: #ee3338;
}
.check-login-container {
    position: relative;
    right: 0;
    height: 0;
    margin: 0;
}
 fa-icon {
    position: relative;
    top: -40px;
    left: 280px;
    color: green;
     font-size: 12px;

}