.ng-touched .ng-invalid {
    border-left: 2px solid red;
}


.login-container {
    padding: 24px;
    background-color: var(--clr-light-yellow);
   
    color: var(--clr-dark);
    width: 300px;
    margin: 24px auto;
    border-radius: 4px;

   
}
.input-container {
    display: flex;
    flex-direction: column;
    
}
input {
    background-color: transparent;
    margin-bottom: 12px;
    border: none;
    border-bottom: 1px solid var(--clr-dark);
    padding: 12px;
}
.loginLink {
    direction: none;
    color: var(--clr-purple);
    font-size: 14px;
    font-weight: bold;
    margin-left: 16px;
}

.loginBtn {
    width: 100%;
}

