:root {
    --clr-yellow: #fbcd43;
    --clr-light-yellow: #f5e0a1;
    --clr-purple: #3f4096;
    --clr-light-purple: #70719d;
    --clr-red: #ee3338;
    --clr-dark: #1e1f3d;

}



.register-container {
    padding: 24px;
    border: 2px solid var(--clr-purple);
   
    color: var(--clr-dark);
    width: 300px;
    margin: 24px auto;
    border-radius: 4px;
   
}
.input-container {
    display: flex;
    flex-direction: column;
    
}
input {
    background-color: #ffffff;
    margin-bottom: 12px;
    border: none;
    border-bottom: 1px solid var(--clr-dark);
    padding: 12px;
}
input:-webkit-autofill { 
    -webkit-background-clip: text;
}
.regLink {
    direction: none;
    color: var(--clr-purple);
    font-size: 14px;
    font-weight: bold;
    margin-left: 16px;
}
.regLink:hover {
    text-decoration: underline;
}

.input-error {
    border-left: 2px solid red;
}
.error {
    color: #ee3338;
}
.regBtn {
    width: 100%;
    border: 2px solid var(--clr-purple);
    background-color: var(--clr-purple);
    color: #f5e0a1;
    
}
.hover:hover {
    background-color: transparent;
    color: var(--clr-purple);
}
.check-container {
    position: relative;
    right: 0;
    height: 0;
    margin: 0;
}
 fa-icon {
    position: relative;
    top: -40px;
    left: 280px;
    color: green;
     font-size: 12px;

}