<section class="header">
    <div class="site-name">
        <p class="nav-logo">My Market Place</p>
    </div>
    <nav>
        <ul class="top-nav-list">
            <li class="top-nav-item">
                <a routerLink="home" class="top-nav-link">Home</a>
            </li>
            <li class="top-nav-item">
                <a routerLink="catalog" class="top-nav-link">Buy</a>
            </li>
            <div class="guest" *ngIf="!userService.isLoggedIn">
            <li class="top-nav-item">
                <a routerLink="login" class="top-nav-link">Login</a>
            </li>
            <li class="top-nav-item">
                <a routerLink="register" class="top-nav-link">Register</a>
            </li>
           
            </div>
                <div class="user" *ngIf="userService.isLoggedIn">
                
                
                <li class="top-nav-item">
                    <a routerLink="create" class="top-nav-link">Sell</a>
                </li>
            
                <button id="logoutBtn" class="top-nav-link" (click)="userService.logout()">Logout   <fa-icon [icon]="['fas', 'arrow-right-from-bracket']" [styles]="{'font-size': '20px','color': 'var(--clr-light-yellow)'}"></fa-icon></button>
            </div>
            
        </ul>
    </nav>
   
  
</section>
