@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.header {
  
    padding: 0 24px;
    background-color: var(--clr-purple);
    color: var(--clr-light-yellow);
}
nav {
   
}

.site-name {
    font-family: 'Architects Daughter', cursive;
    font-weight: bolder;
    width: 120px;
 border: 3px solid var(--clr-light-yellow);
    text-align: center;
    
}
.top-nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.top-nav-item {
    padding: 12px;
    list-style: none;
 
}
.top-nav-link {
color: var(--clr-light-yellow);
font-size: 18px;
font-weight: bold;
}

.nav-right-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-left-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logoutBtn {
    background-color: var(--clr-purple);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
   
}
.nav-logo {
    font-size: 20px;
}
