<section class="home-section">
    <div class="home-container">
       
     <div class="home-info-container">
        <h2 class="home-info-subtitle">It has never been easier to buy and sell anyhing you need for your home</h2>
       
            
                <h2 class="home-info-title">Toys and games, furnitures, garden tools and so much more!</h2>
               
            <div class="home-info-subcontainer">
                <a class=" catalog-link" routerLink="/catalog">Items for sale ></a>
            <div class="home-items-container">
                <div *ngFor="let item of itemsSample">
                  
                        <button class="imgBtn" [routerLink]="['/catalog', item.id]">
                            <img src="{{item.imgUrl}}" class="home-item-container-img" width="70px" height="70px">
                        </button>
                        
                  
                </div>
            </div>
                <p>Ready to start buying and selling? <a class="home-info-link" routerLink="/register">Register</a></p>
                <p>Already have an account? <a class="home-info-link" routerLink="/login">Login</a></p>
            </div>
        </div>
        <div class="hero-img-container">
            <img src="/assets/images/furniture-hero.jpeg" alt="furniture image" height="500px">
        </div>
       
    </div>

  
</section>
