.home-container {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.home-section {
    min-height: 500px;
}
.home-img-container {
    width: 55%;
}
.home-info-container {
    width: 35%;
    padding-left: 60px;
    margin-top: 24px;
   
}

.home-info-title {
    font-size: 24px;
    color: var(--clr-purple);
}
.home-info-subtitle {
    font-size: 16px;
    margin-top: 36px;
    margin-bottom: 60px;
}
.home-info-link {
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    
}
.home-info-link:hover {
    text-decoration: underline;
}
.home-info-subcontainer {
   
    margin-top: 24px;
}
.catalog-link {
    font-size: 36px;
    color: var(--clr-red);
    font-weight: bold;
   
}
p {
    margin-top: 24px;
}