<div class="home-container">
    <div class="hero-img-container">
       <img src="/assets/images/furniture-hero.jpeg" height="300px" alt="">
    </div>
    <div class="home-info-container">
        <h1>Buy and sell anything you might need for your home and garden!</h1>
<h2>It has never been easier</h2>
    </div>

<div class="info-container">
    <p>It has never been easier to buy and sell anything you might need - furnitures, toys, garden tools, anything you might need for your householl</p>
    <p>Simply create a profile and start</p>

</div>



</div>
