<section class="home-section">
    <div class="home-container">
       
     <div class="home-info-container">
        <h2 class="home-info-subtitle">It has never been easier to buy and sell anyhing you need for your home</h2>
       
            
                <h2 class="home-info-title">Toys and games</h2>
                <h2 class="home-info-title">Furnitures</h2>
                <h2 class="home-info-title">Garden</h2>
            
      
        
            <div class="home-info-subcontainer">
                <a class="home-info-link catalog-link" routerLink="/catalog">Items for sale</a>
                <a class="home-info-link" routerLink="/register">Register</a>
            </div>
        </div>
        <div class="hero-img-container">
            <img src="/assets/images/furniture-hero.jpeg" alt="furniture image" height="400px">
        </div>
       
    </div>

  
</section>
