h3 {
    text-align: center;
}
.catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 14px;
    width: 85%;
    margin: 36px auto;
   
}
.item-img {
    height: 250px;

}

.item-container {
    margin: 16px;
    width: 250px;
    border: 2px solid var(--clr-light-purple);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
}
span {
    font-size: 16px;
    font-weight: bold;
    
}

.item-title-span {
    font-size: 20px;
}
.item-price-span {
    color: var(--clr-red);
}
.item-category-span {
    color: var(--clr-purple);
}
.filter-form-container {
    background-color: var(--clr-light-yellow);
    margin: 0 auto;
    font-size: 14px;
    padding: 24px;
}
.sub-form-container {
    margin: 0 auto;
    width: 500px;
}
select {
    margin: 4px 12px;
    padding: 8px;
    background-color: var(--clr-light-yellow);
}
label {
    font-size: 14px;
    font-weight: bold;
}
select option {
    background-color: transparent;
    
    
}

.filterBtn {
    margin-left: 12px;
}
.filterBtn:hover {
    background-color: transparent;
    color: var(--clr-purple);
}