<div class="add-item-container">
    <h4>Add an item for sale:</h4>
    <form class="add-form" [formGroup]="createForm" (ngSubmit)="onItemCreate()">
    
         <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" formControlName="title" id="title" ngModel required [class.input-error]='createForm.controls.title.invalid && createForm.controls.title.touched'> 
    </div>
      <ng-container *ngIf="shouldShowError('title')" >
            <p>Please enter an item title</p>
      </ng-container>
         <div class="form-group">
        <label for="imgUrl">Image URL:</label>
        <input type="text" formControlName="imgUrl" id="imgUrl" ngModel required [class.input-error]='createForm.controls.imgUrl.invalid && createForm.controls.imgUrl.touched'>
    </div>
    <ng-container *ngIf="shouldShowError('imgUrl')" >
        <p>Please enter an item image URL</p>
  </ng-container>
    
 <div class="form-group">
        <label for="price">Price:</label>
        <input type="text" formControlName="price" id="price" ngModel required [class.input-error]='createForm.controls.price.invalid && createForm.controls.price.touched'>
    </div>

        
    <ng-container *ngIf="shouldShowError('price')" >
        <p>Please enter an item price</p>
  </ng-container>

<div class="form-group">
    <label for="category">Category:</label>
    <select ngModel required formControlName="category" id="category">
        <option value="Furniture">Furniture</option>
        <option value="Games and toys">Games and toys</option>
        <option value="Garden">Garden</option>
        <option value="Other">Other</option>
    </select>
</div>

 <div class="form-group">
        <label for="desc">Description</label>
       
        <textarea ngModel required [class.input-error]='createForm.controls.desc.invalid && createForm.controls.desc.touched' formControlName="desc" name="desc" id="desc" cols="30" rows="5"></textarea>
    </div>
    <ng-container *ngIf="shouldShowError('desc')" >
        <p>Please enter an item description</p>
  </ng-container>    
      
        <button [disabled]="createForm.invalid" class="btn" type="submit">Create</button>
    </form>

   
</div>


