<section class="item-details">

  <a class="backLink" routerLink=".."> <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon></a>



  <div *ngIf="!inEditMode" class="item-details-container">

    <div class="item-img">
      <img src="{{currentItem.imgUrl}}" height="250px" width="250px" >
    </div>
<div class="container-right">
    <div class="item-info">
      <div class="item-title">
        <div class="item-label">Title: <span class="item-field item-field-title"> {{currentItem.title}}</span></div>
      </div>
      <div class="item-price">
        <div class="item-label">Price: <span class="item-field item-field-price"> {{currentItem.price | currency: 'EUR'}}</span></div>
      </div>
      <div class="item-desc">
        <div class="item-label">Category: <span class="item-field item-field-category">{{currentItem.category}}</span></div>
      </div>
      <div class="item-desc">
        <div class="item-label">Description: <span class="item-field item-field-desc">{{currentItem.desc}}</span></div>
      </div>
    </div>
    <div class="details-btns">
      <ng-container *ngIf="isOwner">
        <div class="item-details-btns">
        <button class="btn editBtn" (click)="onEdit()" >
          Edit
        </button>
        <button class="btn delBtn" (click)="onDeleteItem()">
          Delete
        </button>
      </div>

  
      </ng-container>
      <ng-container *ngIf="!isOwner">
        <button *ngIf="!isOwnerEmail" class="btn buyBtn" type="submit" (click)="onBuy()">Contact the owner</button>
      <ng-container *ngIf="isOwnerEmail"><a href="mailto" class="ownerLink">{{currentItem.ownerEmail}}</a></ng-container>
      </ng-container>
  
    </div>
  </div>
  </div>


</section>

  <div class="edit-form" *ngIf="inEditMode">

    <form #editItemForm="ngForm">
      <div class="form-group">
        <label for="title">Title:</label>
        <input ngModel required type="text" class="form-control" id="title" name="title"/>
      </div>
      <div class="form-group">
        <label for="imgUrl">Image URL:</label>
        <input ngModel required type="text" class="form-control" id="imgUrl" name="imgUrl"/>
    </div>
    <div class="form-group">
        <label for="price">Price:</label>
        <input ngModel required type="number" class="form-control" id="price" name="price"/>
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      
      <select ngModel required  class="form-control" id="category" name="category">
        <option value="Furniture">Furniture</option>
        <option value="Games and toys">Games and toys</option>
        <option value="Garden">Garden</option>
        <option value="Other">Other</option>
      </select>
  </div>
      <div class="form-group">
        <label for="desc">Description:</label>
        <textarea ngModel required  class="form-control" id="desc" name="desc" cols="30" rows="5"></textarea>
    </div>

    <button type="submit" class="btn editBtn" (click)="onUpdateItem()">
      Update
    </button>
    <button (click)="onCancel()" class="btn delBtn">Cancel</button>

    
  </form>


  
  
</div>

<div *ngIf="!currentItem">
  <br />
  <p>Cannot access this Item...</p>
</div>






