/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --clr-yellow: #fbcd43;
    --clr-light-yellow: #f7e9bf;
    --clr-purple: #3f4096;
    --clr-light-purple: #70719d;
    --clr-red: #ee3338;
    --clr-dark: #1e1f3d;

}
body {
    margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 13px;
    color: var(--clr-dark);
   
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.btn {
    border: 2px solid var(--clr-purple);
    background-color: var(--clr-purple);
    color: #f5e0a1;
        cursor: pointer;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 2px;
}
.login-page, .register-page, .create-page {
    height: 1000px;
}

input, textarea, select  {
    margin-bottom: 12px;
    padding: 8px;
}
select option, textarea {
    font-family: Helvetica, Arial, sans-serif; 
}
